/* 
    Document   : style
    Created on : Sep 12, 2013, 3:46:47 AM
    Author     : Suraj
    Description:
    Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#bitcoin-widget{
    position: relative;
    border: 1px solid #ccc;
	-webkit-box-shadow: 2px 2px 4px #888881;
	-moz-box-shadow: 2px 2px 4px #888881;
	box-shadow: 2px 2px 4px #888881;
	overflow:hidden;
	background-color: #FFFFFF;
	max-width: 200px;
	width:190px;
}

#bitcoin-widget .bitcoin-tab-nav{
	background: transparent;
}

#bitcoin-widget a.bitcoin-middle-tab-link{
	border-right: 1px solid #F0E7E7;
	border-left: 1px solid #F0E7E7;
}

#bitcoin-widget a.bitcoin-tab-link.bitcoin-last-tab-link {
	float: none;
	overflow: hidden;
	width: auto;
	border-left: 1px solid #F0E7E7;
}

#bitcoin-widget a.bitcoin-tab-link {
	text-decoration: none;
	width: 50%;
	display: block;
	font-size: 10px;
	float: left;
	height: 23px;
	line-height:23px;
	text-align: center;
	font-weight: normal;
    color : #ccc;
    /*background : #fff;*/
    position:relative;
}

#bitcoin-widget a.bitcoin-tab-link.active {
	font-weight: bold;
    color : black;
    background : rgb(241, 217, 154);
}

#bitcoin-widget .bitcoin-login-status{
	background:#eaeaea;
	text-align:center;
	color:#000000;
	margin-top: 10px;
	font-size:13px;
	padding:5px 0px;
}

#bitcoin-widget .bitcoin-login-status a {
	color:blue!important;
}

#bitcoin-widget .bitcoin-login-status a.active {
	text-decoration:underline!important;
}

#bitcoin-widget .bitcoin-chart{
    height : 90px;
    text-align: center;
    border:0px solid #ccc;
    width:100%;
    background:url("../image/ajax-loader.gif") no-repeat center center;
	
}

#bitcoin-widget .bitcoin-chart.bitcoin-chart-disabled {
	background:transparent;
	font-size:12px;
}

#bitcoin-widget .bitcoin-chart.bitcoin-chart-disabled span {
	position:relative;
	top:40%;
}

#bitcoin-widget h2{
    font-size: 25px;
	margin-top: 10px;
	text-align: center;
	margin-bottom: 7px;
	font-family: arial;
	font-weight: bold;
	color: #696969;
}

#bitcoin-widget ul{
   margin-top : 10px 0px 0px 0px;
   border-bottom: 1px solid #E5E5E5;
}

#bitcoin-widget .line{
	border-bottom: 1px #F0E7E7 solid;
}

#bitcoin-widget hr{
	margin:0px;
}

#bitcoin-widget ul li{
  list-style-type: none;
	text-align: center;
	background: #F6F6F6;
	border-top: 1px solid #E5E5E5;
	font-size: 12px;
	color: #000;
	padding: 3px;
}

#bitcoin-widget .bitcoin-footer{
	background: #E1C161;
	font-size: 10px;
	font-style: italic;
	line-height: 13px;
	bottom:0px;
	padding: 4px 4px;
}

#bitcoin-widget .bitcoin-link-row{
	font-size: 10px;
	position: relative;
	bottom: 5px;
	left: 5px;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 8px;
	font-style: italic;
	text-align: center;
}

#bitcoin-widget .bitcoin-logo{
	background:#e1c161 url("../image/bitcoin_final_03.png") no-repeat center center;
	padding: 3px 0px;
	height:26px;

}

#bitcoin-widget .bitcoin-powered-by,
#bitcoin-widget .bitcoin-get-the-plugin{
    font-size: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	color: #000;
}

#bitcoin-widget div.flot-x-axis{
	display:none;
}

#bitcoin-widget .bitcoin-loader{
    position: absolute;
    z-index: 1000;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    background: #fff;
    opacity : 0.6;
    text-align: left;
}

#bitcoin-widget .bitcoin-loader span {
	top:50%;
	margin-top:-0.5em;
	width:100%;
	text-align:center;
	white-space: nowrap;
	position:absolute;
}

#bitcoin-widget .clear{
    clear:both;
}

#bitcoin-widget a {
	font-weight: normal !important;
	text-decoration: none;
	color: #000 !important;
}

#bitcoin-widget .bitcoin-widget-tabs p.center{
	text-align:center;
	padding-top:30px;
}

#bitcoin-widget .bitcoin-widget-tabs {
	/*height:390px;*/
}

#bitcoin-widget .bitcoin-tab {
	display:none;
	position:relative;
}

#bitcoin-widget .show-tab-onload {
	display:block;
	position:relative;
}
#bitcoin-widget .bitcoin-tab-content {
	position:relative;
	z-index:1;
}

#bitcoin-widget .bitcoin-tab-loader {
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:5;
}

#bitcoin-widget .bitcoin-tab-loader span {
	text-align:center;
	display:block;
	top:50%;
	left:0px;
	width:100%;
	padding:0px;
	line-height:1em;
	font-size:12px;
	margin:-0.5em 0px 0px 0px;
	position:absolute;
}

#bitcoin-widget .flot-x-axis {
	display:none!important;
}

#bitcoin-widget .flot-base {
	background:white;
}